
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Mail", "Mail") <br />
@Html.ActionLink("Course management", "Course") <br />
@Html.ActionLink("Create a request", "Workflow") <br />
@Html.ActionLink("Anouncement board", "Posts")
